/* 로그인 화면 */
.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* 로그인 헤더*/
.login-header {
    margin-top: 100px;
}
/* 로그인 컨테이너 */
.login-container {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 80px 100px 50px;
    width: 20%;
}
.login-container > .form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}
